.title-cards{
  margin-top: 50px;
  margin-bottom: 30px;
}
.title-cards h2{
    margin-bottom:8px;
    
}
.card-list{
    display: flex;
    gap:10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;

}
.card-list img{
     width: 240px;
     border-radius: 4px;
     cursor: pointer;
}
.card-list .card{
    position: relative;
}

.card-list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #fff;
}
/* .wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.2s ease;
} */

.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 4px 6px;
  user-select: none;
  transition: transform 0.2s ease;
}
.wishlist-icon.active {
  color: red;
}

